* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family:monospace;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

section {
    justify-content: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    gap: 15px;
    background-color: black;
    z-index: 1000;
}

.navbar_item {
    color: white;
    text-decoration: none;
}

.navbar_item:hover {
    background-color: #2a2a2a;
}

.navbar_img {
    height: 50px;
    width: 50px;
    z-index: 1000;
    float: left;
}

.grid-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.grid-4 > * {
  flex: 1 1 calc(25% - 1rem); /* Bis zu 4 Elemente pro Zeile */
  box-sizing: border-box;
}


.projects {
    background-color: #2a2a2a;
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    float: left;
    border-radius: 10px;
    height: 25px;
    width: 85px;
    transition: transform 0.3s ease;
    list-style: none;

    border: #5a5a5a;
    border-style: solid;
}

.projects:hover {
    background-color: #4a4a4a;
    transform: scale(1.2);
    box-shadow: #2a2a2a;
}

.tech-grid {
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
}

.tech-grid > .tech {
  flex: 1 1 calc(25% - 10px);
  box-sizing: border-box;
}

.tech {
    background-color: #2a2a2a;
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
    list-style: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    transition: transform 0.3s ease;
    border: #5a5a5a;
    border-style: solid;
}

.tech:hover {
    background-color: #4a4a4a;
    transform: scale(1.05);
}

.tech_img {
    width:  20px;
    height: 20px;
    flex-shrink: 0;
}